<!doctype html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="crossorigin="anonymous"></script>
    </head>
    <body>
        <h2>Temperatur og fugtighed</h2>
        Temperatur : <span id="temperatur"></span><br/> Fugtighed : <span id="fugtighed"></span><br/>
        <script>
            var socket = io();
            socket.emit('hent_temp')
            socket.on('temp', function(data) {
                console.log( data['valid']  )
                if (data != 'None' && data['valid'] == true) {
                    document.getElementById('temperatur').innerText = data['temp_c']
                    document.getElementById('fugtighed').innerText = data['humidity']
                }
                socket.emit('hent_temp')
            })
        </script>
    </body>
</html>
