{% extends "layout.html" %}
{% block title %}
Site 2
{% endblock %}
{% block content %}
<h1>Site 2</h1>
<h2>Temperatur og fugtighed</h2>
Temperatur : <span id="temperatur"></span><br/> Fugtighed : <span id="fugtighed"></span><br/>
<script>
    var socket = io();
    socket.emit('hent_temp')
    socket.on('temp', function(data) {
        console.log( data['valid']  )
        if (data != 'None' && data['valid'] == true) {
            document.getElementById('temperatur').innerText = data['temp_c']
            document.getElementById('fugtighed').innerText = data['humidity']
        }
        socket.emit('hent_temp')
    })
</script>
{% endblock %}